<% layout("/layouts/boilerplate") %>
<body>
    <h3 class="h3Branch">Please Select Your Branch</h3>
    
    <div class="outerBranchDiv">
        <% let arr = ["Computer", "Artificial-Intelligence", "Electronics", "Electrical", "Mechanical", "Chemical", "Civil", "Automobile", "Petrochemical", "Food-Technology"] %>
        <% for(i=0; i<arr.length; i++){ %>
            <form class="innerBranchDiv" action="/note/<%=year%>/<%=arr[i]%>">
                <button><%=arr[i]%></button>
            </form>
        <% } %>
    </div>
</body>